*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-color: rgba(0, 0, 0, .3);
    height: 100vh;
}

.pages-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.pages-container h1{
    font-size: 2rem;
}

.pages-container a{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.73);
    margin: 1rem 0;
}